* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background-color: black;
	height: 0px;
	color: white;
	
}

.logo {
	font-family: sans-serif, fantasy;
	font-size: 28px;
}

.spotify-logo {
	margin: 20px 40px;
	
}


.blog-icon {
	color: white;
	margin: 0px 4px;
	font-size: 50px;
}

.trademark {
	font-size: 5px;
}

.song-list {
	color: black;
	width: 200px;
	display: inline-block;
	margin: 20px 10px;
	cursor:pointer;
}